/*
 * CSS Stylesheet for:
 *           http://pramnora.github.io/temp
 *
 *   Author: Mr. Paul Ramnora
 *    Email: pramnora@yahoo.com
 * Location: London, UK
 * 
 *  Created: 21:17 06/04/2017
 *  Updated: 21:52 06/04/2017
*/

/* Links */

a:link{
 text-decoration:none;
 color:blue;
}

a:visited{
 color:purple;
}

a:hover{
 text-decoration:underline;
 color:red;
}

/* Html */

html{
 margin-left:1%;
 margin-right:1%;
}

/* Body */

body{
 font-family:arial,verdana,sans-serif;
}

/* Header */

header{
 text-align:center;
}

/* Nav */

nav>p#idTOCMenuTitleHeading{
 font-style:italic;
}

/* Footer */

footer{
 text-align:right;
}

/* ID's */

#idCopyrightMessage{
 font-weight:bold;
 background-color:black;
 color:white;
}

/* Classes */

.clsTimeDateStamp{
 font-style:italic;
 color:red;
}

